<% if @vehicles %>
  <table class="table table-sm table-hover align-middle">
    <thead class="table-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col" class="text-center">Creaci칩n</th>
      <th scope="col" class="text-center">Acci칩n</th>
    </tr>
    </thead>
    <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.id %></td>
        <td class="text-center"><%= vehicle.created_at.strftime('%d-%m-%Y') %></td>
        <td class="text-center">
          <%= link_to show_damge_path(vehicle), class: "btn btn-outline-secondary btn-icon #{"disabled" unless vehicle.damage.present?}", title: 'Ver da침o' do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-description" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M14 3v4a1 1 0 0 0 1 1h4"/>
              <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"/>
              <path d="M9 17h6"/>
              <path d="M9 13h6"/>
            </svg>
          <% end %>
          <%= link_to edit_damage_path(vehicle), class: 'btn btn-outline-primary btn-icon', title: 'Editar da침o' do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car-crash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M10 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
              <path d="M7 6l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-5m0 -6h8m-6 0v-5m2 0h-4"/>
              <path d="M14 8v-2"/>
              <path d="M19 12h2"/>
              <path d="M17.5 15.5l1.5 1.5"/>
              <path d="M17.5 8.5l1.5 -1.5"/>
            </svg>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @vehicles, list_classes: %w(pagination d-flex justify-content-center) %>
<% else %>
  <div class="alert alert-warning">No hay datos</div>
<% end %>